.BuildControls {
  width: 100%;
  background-color: #27742d;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 2px 1px #ccc;
  margin: auto;
  padding: 10px 0;
}

.Title {
  padding: 10px 0;
  margin-bottom: 10px;
  color: #f9f5f5;
  font-size: 30px;
  font-weight: bold;
}

.Price {
  padding: 5px;
  margin-top: 15px;
  border: 1px solid black;
  background-color: #f9f5f5;
  width: 200px;
  text-align: center;
}
